.CreatePost-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .CreatePost-popup-bg {
    background-color: rgba(0, 0, 0, 0.803);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .CreatePost-popup-card {
    position: relative;
    width: 700px;
    height: 700px;
    background: #f5f7f8;
    border-radius: 20px;
    margin-bottom: auto;
    margin-top: auto;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    overflow: auto;
  }