.backgroundColor-home {
  position: relative;
  top: 70px;
  height: 100;
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}

.AllbackgroundColor-home {
  height: 100vh;
  background: #f2f2f2;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media only screen and (min-width: 600px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 890px) {
  .band {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  transition: all 0.1s ease-in;
  border-radius: 1rem;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.Three-dots {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .Three-dots svg {
  visibility: visible;
}

.Three-dots svg {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.589);
  width: 45px;
  height: 45px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}

.dropdown-toggle::after {
  display: none;
}

.bookmark {
  font-size: 25px;
}

.report {
  font-size: 25px;
}

.card article {
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.card .thumb {
  padding-bottom: 70%;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.title {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

.icon-heart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 15px;
}
