.backgroundColor {
  position: relative;
  top: 55px;
  height: 100;
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}

.AllbackgroundColor {
  height: 100vh;
  background: #f2f2f2;
}

.page-post-card {
  position: relative;
  width: 75vh;
  height: auto;
  background: #ffff;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 20px;
}

.name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 20px;
}

.title {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.image {
  padding-bottom: 70%;
  background-size: cover;
  background-position: center;
}
